<div class='profile container'>
  <div class='row'>
    <div class=' well col-md-12 text-center'> <h1><%= @user.name %></h1></div>
  </div>
  <div class='row'>
    <div class='col-md-4'>
      <h1>
        <%= image_tag @user.avatar(:medium) %>
      </h1>
    </div>

    <div class='col-md-4'>
      <h3>
        <div class='container'>
        <ul class='list-unstyled'>
        <% if @user.activities.any? %>
          <li><h4>Host Rating:</h4></li>
          <li><p><%= "★" * @host_rating.to_i + "☆" * (5 - @host_rating.to_i) %></p></li>
          <li><h4>Hosted activities:</h4></li>
          <% @user.activities.each do | activity | %>
          <li><h4><%= link_to activity.title, activity_path(activity) %></h4></li>
          <% if activity.has_happened? %>
          <li><h4>Activity Rating:</h4></li>
          <li><p><%= "★" * activity.ratings.average(:value).to_i + "☆" * (5 - activity.ratings.average(:value).to_i) %></p></li>
          <% end %>
          <% end %>
          <% else %>
          <li><h4>No hosted activities yet!</h4></li>
          <% end %>
        </ul>
      </div>
      </h3>
    </div>

      <div class='col-md-4'>
        <h3>
          <div class='container'>
            <ul class='list-unstyled'>
              <% if @user.attended_activities.any? %>
              <li><h4>Attended activities:</h4></li>
              <% @user.attended_activities.each do | attended_activity | %>
              <li><%= link_to attended_activity.title, activity_path(attended_activity) %></li>
              <% end %>
              <% else %>
              <li><h4>No attended activities yet!</h4></li>
              <% end %>
            </ul>
          </div>
        </h3>
      </div>
  </div>
</div>
