%meta{:content => "initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
%script{:src => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"}
%link{:href => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css", :rel => "stylesheet"}/
%script{:src => "https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js"}
%link{:href => "https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css", :rel => "stylesheet"}/
%link{:href => "https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css", :rel => "stylesheet"}/

%section.show-activity
  = @activity.title
  = @activity.description
  = @activity.location
  Total needed;
  = @activity.participants
  = @activity.datetime
  = @activity.category
  = @activity.tag
  / = button_to "Confirm!!", user_activities_path({user_id: @user.id, params: {activity: @activity.attributes}}), method: :post

%section.create-activity
  = form_for [@user, @activity], :url => user_activities_path(@user), html: { multipart: true } do |f|
    = f.text_field :title, :placeholder => "Activity Name", :readonly => true
    = f.text_field :description, :placeholder => "Describe your Activity", :readonly => true
    = f.text_field :location, :placeholder => "Location", :readonly => true
    = f.number_field :participants, :placeholder => "People needed", :readonly => true
    = f.label :datetime
    = f.datetime_select :datetime
    = f.label :category
    = f.select :category, ['Select', 'Sports', 'Culture', 'Coding', 'Education', 'Music', 'Comedy', 'Nightlife'], :readonly => true
    = f.text_field :tag, :placeholder => "Activity e.g.'Football'", :readonly => true
    = f.hidden_field :latitude
    = f.hidden_field :longitude
    = f.submit "Confirm"

#confirm_map{:style => "width:150" "height:400px"}confirm_map
%pre#coordinates.ui-coordinates
%script{:src => "/src/confirm_map.js"}
