#wrapper
  .hero.hidden-xs
    .hero-header
      %h1 Are you in?
      %section.activity-admin
        = form_tag root_path, class: "col-xs-12", method: :get do
          = select_tag "Category", options_for_select(["Select category"] + @categories.map{|x| x.name}, :selected => params[:category]), :onchange => "this.form.submit()", class: "category-box", placeholder: "Select an option"
          %noscript= submit_tag "Filter", class: "filter_button"
        = form_tag root_path, class: "search_form", method: :get do
          %div.right-inner-addon

            = text_field_tag "Tag", nil, :placeholder => "Search for a pirate activity", class: "input-box"
            %noscript= submit_tag "Search", class: "search_button"
          %div.button-container.col-xs-12
            =link_to "Map view", locations_path, class: "btn map-button"
          - if current_user
            %div.button-container.col-xs-12
              =link_to "Add an activity", new_user_activity_path(current_user), class: "btn add-activity"

  .mobile.hidden-md.hidden-lg.hidden-sm
    %section.mobile-header.hidden-sm.hidden-md.hidden-lg
      %h1 Are you in?
      %section.mobile-activity-admin
        = form_tag root_path, class: "search_form", method: :get do
          = text_field_tag "Tag", nil, :placeholder => "Search for activity", class: "input-box"
          %noscript= submit_tag "Go", class: "search_button"
          %div.button-container.col-xs-12
            =link_to "Map view", locations_path, class: "btn map-button"
          - if current_user
            %div.button-container.col-xs-12
              =link_to "Add activity", new_user_activity_path(current_user), class: "btn add-activity"


  %section.latest.hidden-xs
    %h2.heading.heading--light.heading--center.heading--dark.section-header__title
      Latest Events
    .row
      .image-wrapper.col-md-4.col-sm-6
        =image_tag 'boat1.jpg'
        .text-box
          %h2 Event
          %p Some event information
      .image-wrapper.col-md-4.col-sm-6
        =image_tag 'boat1.jpg'
        .text-box
          %h2 Event
          %p Some event information
      .image-wrapper.col-md-4.col-sm-6
        =image_tag 'boat1.jpg'
        .text-box
          %h2 Event
          %p Some event information
      / %div.latest-activity.col-md-4.col-sm-6
      /   %img.act-image{:alt => "Mountain View", :src => "http://weknowyourdreams.com/images/football/football-08.jpg", :style => "width:320px;height:228px;"}/
      /   .event-overlay
      /     %h2 Event 1
      / %div.latest-activity.col-md-4.col-sm-6
      /   %img.act-image{:alt => "Mountain View", :src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg", :style => "width:320px;height:228px;"}/
      /   .event-overlay
      /     %h2 Event 2
      / %div.latest-activity.col-md-4.col-sm-6
      /   %img.act-image{:alt => "Mountain View", :src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg", :style => "width:320px;height:228px;"}/
      /   .event-overlay
      /     %h2 Event 3


  %section.content.hidden-xs
    %h2.heading.heading--light.heading--center.heading--dark.promoted-collection__title
      Categories
    - if @activities.any?
      - @activities.each do | activity |
        %container
          %div.each-activity.col-md-4
            %h2=link_to activity.title, activity_path(activity)
            %img.act-image{:alt => "Mountain View", :src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg", :style => "width:304px;height:228px;"}/

  %section.categories.hidden-md.hidden-lg.hidden-sm
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Sport
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Music
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Culture
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Education
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Coding
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Nightlife
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Comedy
    .col-xs-6.no-padding
      %img.img-responsive{:src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg"}/
      %div.overlay
        %a{:href => "/?utf8=✓&Category=Sports"} Sport

  %section#about-us
    %h2.heading.heading--light.heading--center.heading--dark.promoted-collection__title
      About Us


