#wrapper
  .hero.hidden-xs
    .hero-header
      %h1 Are you in?
      %section.activity-admin
        = form_tag categories_path, class: "col-xs-12", method: :get do
          = select_tag "Category", options_for_select(["Select category"] + @categories, :selected => params[:category]), :onchange => "this.form.submit()", class: "category-box", placeholder: "Select an option"
          %noscript= submit_tag "Filter", class: "filter_button"
        = form_tag root_path, class: "search_form", method: :get do
          = text_field_tag "Tag", nil, :placeholder => "Search for a pirate activity", class: "input-box"
          %noscript= submit_tag "Search", class: "search_button"
          %div.button-container.col-xs-12
            =link_to "Map view", locations_path, class: "btn map-button"
          - if current_user
            %div.button-container.col-xs-12
              =link_to "Add an activity", new_user_activity_path(current_user), class: "btn add-activity"

  .mobile.hidden-md.hidden-lg.hidden-sm
    %section.mobile-header.hidden-sm.hidden-md.hidden-lg
      %h1 Are you in?
      %section.mobile-activity-admin
        = form_tag root_path, class: "search_form", method: :get do
          = text_field_tag "Tag", nil, :placeholder => "Search for activity", class: "input-box"
          %noscript= submit_tag "Go", class: "search_button"
          %div.button-container.col-xs-12
            =link_to "Map view", locations_path, class: "btn map-button"
          - if current_user
            %div.button-container.col-xs-12
              =link_to "Add activity", new_user_activity_path(current_user), class: "btn add-activity"


  %section.latest.hidden-xs
    %h2.heading.heading--light.heading--center.heading--dark.section-header__title
      Latest Events
    .row
      .image-wrapper.col-md-4.col-sm-6
        =image_tag 'culture1.jpg'
        .text-box
          %h2 A cultural excursion
          %p Let's get our culture on :)
      .image-wrapper.col-md-4.col-sm-6
        =image_tag 'concert.jpg'
        .text-box
          %h2 Let's see a concert
          %p Wooohooooo
      .image-wrapper.col-md-4.col-sm-6
        =image_tag 'food2.jpg'
        .text-box
          %h2 Food market!
          %p Want to try some food?
      / %div.latest-activity.col-md-4.col-sm-6
      /   %img.act-image{:alt => "Mountain View", :src => "http://weknowyourdreams.com/images/football/football-08.jpg", :style => "width:320px;height:228px;"}/
      /   .event-overlay
      /     %h2 Event 1
      / %div.latest-activity.col-md-4.col-sm-6
      /   %img.act-image{:alt => "Mountain View", :src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg", :style => "width:320px;height:228px;"}/
      /   .event-overlay
      /     %h2 Event 2
      / %div.latest-activity.col-md-4.col-sm-6
      /   %img.act-image{:alt => "Mountain View", :src => "http://img2.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg", :style => "width:320px;height:228px;"}/
      /   .event-overlay
      /     %h2 Event 3


  %section.categories.hidden-md.hidden-lg.hidden-sm
    .col-xs-6.no-padding
      =image_tag 'football-match.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Sports"} Sports
    .col-xs-6.no-padding
      =image_tag 'musicsmall.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Music"} Music
    .col-xs-6.no-padding
      =image_tag 'flowers.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Culture"} Culture
    .col-xs-6.no-padding
      =image_tag 'edu.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Education"} Education
    .col-xs-6.no-padding
      =image_tag 'code.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Coding"} Coding
    .col-xs-6.no-padding
      =image_tag 'night.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Nightlife"} Nightlife
    .col-xs-6.no-padding
      =image_tag 'monty.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Comedy"} Comedy
    .col-xs-6.no-padding
      =image_tag 'food5.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Food"} Food
    .col-xs-6.no-padding
      =image_tag 'outdoors.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Outdoors"} Outdoors
    .col-xs-6.no-padding
      =image_tag 'pirate.jpg', class: 'img-responsive'
      %div.overlay
        %a{:href => "/categories?utf8=✓&Category=Other"} Other

  %section#about-us
    %h2.heading.heading--light.heading--center.heading--dark.promoted-collection__title
      About Us
    .row
      .image-wrapper.col-md-2.col-sm-6.col-md-offset-1
        =image_tag 'retesh.JPG'
        .text-box
          %h2 Retesh Bajaj
          %p Spring onion
      .image-wrapper.col-md-2.col-sm-6
        =image_tag 'sarah.jpg'
        .text-box
          %h2 Sarah Middleton
          %p Apple
      .image-wrapper.col-md-2.col-sm-6
        =image_tag 'owen.JPG'
        .text-box
          %h2 Owen Lamb
          %p Leek
      .image-wrapper.col-md-2.col-sm-6
        =image_tag 'katya.JPG'
        .text-box
          %h2 Katya-yani Vyas
          %p Aubergine
      .image-wrapper.col-md-2.col-sm-6
        =image_tag 'fadi.jpg'
        .text-box
          %h2 Fadi Hakim
          %p Turnip


