<div class='col-lg-6 col-lg-offset-3 container center'>
<% if @activity.errors.any? %>
  <section id="errors">
    <h2>
      <%= pluralize @activity.errors.count, "error" %>
      prohibited this activity from being saved:
    </h2>
    <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_for [@user, @activity], html: { multipart: true } do |f| %>
  <h1 class="text-center"> Create your Activity </h1>
    <form class="form-horizontal">
      <div class='row'><div class='form-group'><%= f.text_field :title,class: "col-sm-6 col-sm-offset-3", :placeholder => "Activity Name" %></div></div>
      <div class='row'><div class='form-group'><%= f.text_field :description,class: "col-sm-6 col-sm-offset-3", :placeholder => "Describe your Activity" %></div></div>
      <div class='row'><div class='form-group'><%= f.text_field :location,class: "col-sm-6 col-sm-offset-3", :placeholder => "Location" %></div></div>
      <div class='row'><div class='form-group'><%= f.number_field :participants,class: "col-sm-6 col-sm-offset-3", :placeholder => "People needed" %></div></div>
      <div class='row'><div class='form-group'><%= f.date_field :date,class: "col-sm-6 col-sm-offset-3", :placeholder => "Date" %></div></div>
      <div class='row'><div class='form-group'><%= f.time_field :time,class: "col-sm-6 col-sm-offset-3", :placeholder => "Time" %></div></div>
      <div class='row'><div class='form-group'><%= f.label :category %></div></div>
      <div class='row'><div class='form-group'><%= f.select :category,['Select', 'Sports', 'Culture', 'Coding', 'Education', 'Music', 'Comedy', 'Nightlife'] %></div></div>
      <div class='row'><div class='form-group'><%= f.text_field :tag,class: "col-sm-6 col-sm-offset-3", :placeholder => "Activity e.g.'Football'" %></div></div>
      <div class='row'><div class='form-group'><%= f.submit "Let's do it!", class: "btn btn-lg btn-primary" %></div></div>
    </form>
<% end %>
</div>
<!-- <%= form_for [@user, @activity], html: { multipart: true } do |f| %>
  <h1 class="text-center"> Create your Activity </h1>
    <ul class='col-md-offset-4 col-md-4 well list-unstyled text-center'>
      <li><div class='form-group'><%= f.text_field :title, :placeholder => "Activity Name" %></div> </li>
      <li><div class='form-group'><%= f.text_field :description, :placeholder => "Describe your Activity" %></div></li>
      <li><div class='form-group'><%= f.text_field :location, :placeholder => "Location" %></div></li>
      <li><div class='form-group'><%= f.number_field :participants, :placeholder => "People needed" %></div></li>
      <li><div class='form-group'><%= f.date_field :date, :placeholder => "Date" %></div></li>
      <li><div class='form-group'><%= f.time_field :time, :placeholder => "Time" %></div></li>
      <li><div class='form-group'><%= f.label :category %></div></li>
      <li><div class='form-group'><%= f.select :category, ['Select', 'Sports', 'Culture', 'Coding', 'Education', 'Music', 'Comedy', 'Nightlife'] %></div></li>
      <li><div class='form-group'><%= f.text_field :tag, :placeholder => "Activity e.g.'Football'" %></div></li>
      <li><div class='form-group'><%= f.submit "Let's do it!" %></div></li>
    </ul>
<% end %> -->
