- if @activity.errors.any?
  %section#errors
    %h2
      = pluralize @activity.errors.count, "error"
      prohibited this activity from being saved:
    %ul
      - @activity.errors.full_messages.each do |message|
        %li= message

%section.create-activity.col-lg-6.col-lg-offset-3.container.center.well
  <h2>Add an activity!</h2>
  = form_for [@user, @activity], :url => activities_confirmation_path, html: { multipart: true } do |f|
    %div.form-group.form-input= f.text_field :title, {:required => true, :placeholder => "Activity Name" }
    %div.form-group.form-input= f.text_field :description, {:required => true, :placeholder => "Describe your Activity" }
    %div.form-group.form-input= f.text_field :location, {:required => true,  :placeholder => "Location" }
    %div.form-group.form-input= f.number_field :participants, {min: 1, :required => true,  :placeholder => "People needed"}
    = f.label :datetime
    %div.form-group= f.datetime_select :datetime
    = f.label :category
    %div.form-group= f.select :category, ['Select', 'Sports', 'Culture', 'Coding', 'Education', 'Music', 'Comedy', 'Nightlife', 'Outdoor', 'Food', 'Other']
    %div.form-group.form-input= f.text_field :tag, {:required => true,  :placeholder => "Activity e.g.'Football'"}
    %div.form-group= f.submit "Let's do it!", class: "submit-btn"
