= @activity.title
= @activity.description
= @activity.location
People needed:
%span.people_needed= @people_needed
Total needed:
= @activity.participants
= @activity.datetime
= @activity.category
= @activity.tag
%p Hosted by:
= link_to @activity.user.name, user_path(@activity.user)

- if @people_needed > 0 && !current_user.has_clicked?(@activity) && !current_user.activities.include?(@activity)
  %p= link_to "I'm in!", activity_attendances_path(@activity), class: 'join_button'

- if @activity.attendees.include?(current_user) && !current_user.rated_activites.include?(@activity)
  %p= link_to "Rate activity", new_activity_rating_path(@activity)

%p Activity Rating:
= "★" * @activity.ratings.average(:value).to_i + "☆" * (5 - @activity.ratings.average(:value).to_i)