= @activity.title
= @activity.description
= @activity.location
People needed:
= @people_needed
= @activity.active_participants
= @activity.date
= @activity.category
= @activity.tag

- if @people_needed > 0
  = link_to "I'm in!", new_activity_attendance_path(@activity)