= @activity.title
= @activity.description
= @activity.location
= @activity.participants
= @activity.active_participants
= @activity.date
= @activity.category
= @activity.tag

= link_to "I'm in", new_activity_attendee(@activity)