= @activity.title
= @activity.description
= @activity.location
People needed:
%p.people_needed= @people_needed
Total needed;
= @activity.participants
= @activity.date
= @activity.category
= @activity.tag
%p Hosted by:
@activity.user.name

- if @people_needed > 0 && !current_user.has_clicked?(@activity)
  %p= link_to "I'm in!", activity_attendances_path(@activity), class: 'join_button'