!!!
%html
  %head
    %title TeemApp
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %meta{:content => "initial-scale = 1.0,maximum-scale = 1.0", :name => "viewport"}/
    %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"}
    %script{:src => "//code.jquery.com/jquery-1.11.3.min.js"}
    %script{:src => "//code.jquery.com/jquery-migrate-1.2.1.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css", :rel => "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body
    %nav#header_menu.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .logo
          = link_to(image_tag("white_horizontal_logo.png", :alt => "logo", :title => "Home"), "/")
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .menu
            - if user_signed_in?
              %li
                = link_to "Sign out", destroy_user_session_path, method: :delete
              %li
                = link_to "My Profile", user_path(current_user)
              %li
                = link_to "About us", '#about-us'
            - else
              %li
                = link_to "Sign in", new_user_session_path
              %li
                = link_to "Sign up", new_user_registration_path
              %li
                = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
              %li
                = link_to "About us", '#about-us'
    .notice-message
      = notice
    .alert-message
      = alert
    = yield
    %nav#footer_menu.navbar.navbar-static-bottom
      .container-fluid
        .logo
          = link_to(image_tag("white.png", :alt => "logo", :title => "Home"), "/")
        %div
          .menu-footer
            %li
              %a{:href => "mailto:teemapp.team@gmail.com"} Contact us
